<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--    <script src="/resources/js/jquery-3.6.0.js"></script>-->
    <!--    <script src="/resources/js/jquery.validate.js"></script>-->
    <th:block th:replace="/layout/linkAndScriptDip :: linkAndScriptDip"/>
</head>

<body class="g-sidenav-show  bg-gray-100">
<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
       id="sidenav-main">
    <th:block th:replace="/layout/navbarLeft :: navbarLeft"/>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    <!-- Navbar -->
    <th:block th:replace="/layout/navbar :: navbar"/>
    <!-- End Navbar -->
    <!--    Create Modal-->
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal Create</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" >&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frmCreate">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="fullNameCreate" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="fullNameCreate">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="emailCreate" class="form-label">Email</label>
                                <input type="email" class="form-control" id="emailCreate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="usernameCreate" class="form-label">Username</label>
                                <input type="text" class="form-control" id="usernameCreate">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phoneCreate" class="form-label">Phone</label>
                                <input type="tel" class="form-control" id="phoneCreate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="passwordCreate" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passwordCreate">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="confirmPasswordCreate" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPasswordCreate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="avatarCreate" class="form-label">Avatar</label>
                                <input type="file" class="form-control" id="avatarCreate">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnCreate" class="btn btn-outline-success">Create</button>
                </div>
            </div>
        </div>
    </div>
    <!--    Edit Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal Edit</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" >&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frmEdit">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="fullNameEdit" class="form-label">Full Name</label>
                                <input type="text" class="form-control" id="fullNameEdit">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="emailEdit" class="form-label">Email</label>
                                <input type="email" class="form-control" id="emailEdit">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="usernameEdit" class="form-label">Username</label>
                                <input type="text" class="form-control" id="usernameEdit">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phoneEdit" class="form-label">Phone</label>
                                <input type="tel" class="form-control" id="phoneEdit">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="passwordEdit" class="form-label">Password</label>
                                <input type="password" class="form-control" id="passwordEdit">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="confirmPasswordEdit" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPasswordEdit">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="avatarEdit" class="form-label">Avatar</label>
                                <input type="file" class="form-control" id="avatarEdit">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="btnEdit" class="btn btn-outline-success">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-4">
        <button type="button" id="btn-create" class="btn btn-outline-primary mb-3 btn-create">Create Admin</button>
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Users table</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Phone
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Username
                                    </th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Password
                                    </th>

                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Status
                                    </th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Action
                                    </th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="item : ${users}">
                                    <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div>
                                                    <img th:src="${item.avatar}" class="avatar avatar-sm me-3"
                                                         alt="user1">
                                                </div>
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm" th:text="${item.fullName}"></h6>
                                                    <p class="text-xs text-secondary mb-0" th:text="${item.email}"></p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0" th:text="${item.phone}"></p>
                                        </td>

                                        <td class="align-middle ">
                                            <span class="text-secondary text-xs font-weight-bold" th:text="${item.username}"></span>
                                        </td>
                                        <td class="align-middle ">
                                            <span type="password" class="text-secondary text-xs font-weight-bold" th:text="${item.password}"></span>
                                        </td>
                                        <td class="align-middle text-sm">
                                            <span class="badge badge-sm bg-gradient-success"
                                                  th:text="${item.activeStatus}"></span>
                                        </td>
                                        <td class="align-middle">
                                            <button type="button" class="btn btn-outline-secondary btn-sm mb-3 btn-edit" th:data-id="${item.id}">Edit</button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-outline-danger btn-delete" th:data-id="${item.id}">Delete</button>
                                        </td>

                                    </tr>
                                </th:block>
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="../assets/img/team-3.jpg" class="avatar avatar-sm me-3"
                                                     alt="user2">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">Alexa Liras</h6>
                                                <p class="text-xs text-secondary mb-0">alexa@creative-tim.com</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">Programator</p>
                                        <p class="text-xs text-secondary mb-0">Developer</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">11/01/19</span>
                                    </td>
                                    <td class="align-middle">
                                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                           data-toggle="tooltip" data-original-title="Edit user">
                                            Edit
                                        </a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="/layout/footer :: footer"/>
    </div>

</main>
<th:block th:replace="/layout/fixedPlugin :: fixedPlugin"/>
<!--   Core JS Files   -->
<th:block th:replace="/layout/scirptEnd :: scriptEnd"/>
<script>
    let user = new User();
    $("#createModal").on("hidden.bs.modal", function () {
        $("#frmCreate").validate().resetForm();
        $("#frmCreate").get(0).reset();
    })
    $("#btnCreate").on("click", function () {
        user.fullName = $("#fullNameCreate").val();
        user.email = $("#emailCreate").val();
        user.phone = $("#phoneCreate").val();
        user.username = $("#usernameCreate").val();
        user.password = $("#passwordCreate").val();
        user.avatar = $("#avatarCreate").val();
        doCreateUser(user);

    });
    $("#btnEdit").on("click", function () {
        user.fullName = $("#fullNameEdit").val();
        user.email = $("#emailEdit").val();
        user.phone = $("#phoneEdit").val();
        user.username = $("#usernameEdit").val();
        user.password = $("#passwordEdit").val();
        user.avatar = $("#avatarEdit").val();
        doEditUser(user);

    });

    function showCreateModal() {
        $(".btn-create").on("click", function () {
            $("#frmCreate")[0].reset();
            $("#createModal").modal("show");
        });
    }
    function showEditModal() {
        $(".btn-edit").on("click", function () {
            let id = $(this).data("id");
            getCustomerById(id).then(function (){
                $("#editModal").modal("show");
                $("#fullNameEdit").val(user.fullName);
                $("#emailEdit").val(user.email);
                $("#phoneEdit").val(user.phone);
                $("#usernameEdit").val(user.username);
                $("#passwordEdit").val(user.password);
                $("#confirmPasswordEdit").val(user.password);
                $("#avatarEdit").val(user.avatar);

            })

        });
    }

    function showDeleteModal() {
        $(".btn-delete").on("click", function () {
            let userId = $(this).data('id');
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    doDelete(userId);
                }
            })
        });
    }

    function doCreateUser(user) {
        $.ajax({
            type: "POST",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            url: "http://localhost:8080/api/users/create-admin",
            data: JSON.stringify(user)
        }).done(function (data) {
            user = data;
            showSuccess('Create Admin successfully')
            $("#createModal").modal("hide");
            $("#frmCreate")[0].reset();
        }).fail(function (data) {
            showError("Create Admin Fail")
        })
    }

    function doEditUser(user) {
        $.ajax({
            type: "PUT",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            url: "http://localhost:8080/api/users/" + user.id,
            data: JSON.stringify(user)
        }).done(function (data) {
            user = data;

            $("#editModal").modal('hide');
            showSuccess('Update Customer Success')
        }).fail(function () {
            showError('Error')
        })
    }

    function doDelete(userId) {
        $.ajax({
            type: "DELETE",
            url: "http://localhost:8080/api/users/" + userId,
        }).done(function () {
            showSuccess('User has been deleted');
            // getAllCustomer();
        }).fail(function () {
            showError('User\'s information is invalid');

        })

    }

    function getCustomerById(userId) {
        return $.ajax({
            type: "GET",
            headers: {
                "Content-Type": "application/json",
                "Accept": "application/json"
            },
            url: "http://localhost:8080/api/users/" + userId,
        }).done(function (data) {
            user = data;
        }).fail(function () {
            showError("Get User Fail")
        })
    }

    showCreateModal();
    showEditModal();
    showDeleteModal();
</script>

</body>

</html>